{
    "mat output": "~/Dropbox/mat/",
    "simulations": 10000,
    "signal": { "type": "const", "level": 1.0 },
    "noise": { "type": "white", "noise sigma": 1 },
    "interpolated runs": 1,
    "runs": [
        {
            "model": { "smallest alt mu": 1.0 },
            "threshold count": 2,
            "threshold spacing": "log",
            "analyzed mu": [ 0.9 ],
            "simulated mu": [ 0.9 ],
            "rule init": [
                { "id": 2, "null threshold range": [1.0, 3.0], "alt threshold range": [1.0, 3.0], "anticipated run length": 5.0 },
                { "id": 4, "null threshold range": [1.0, 2.0], "alt threshold range": [1.0, 2.0], "anticipated run length": 5.0 }
            ]
        },
        {
            "model": { "smallest alt mu": 1.2 },
            "threshold count": 2,
            "threshold spacing": "log",
            "analyzed mu": [ 0.9 ],
            "simulated mu": [ 0.9 ],
            "rule init": [
                { "id": 2, "null threshold range": [1.0, 3.4], "alt threshold range": [1.0, 3.4], "anticipated run length": 6.0 },
                { "id": 4, "null threshold range": [1.0, 2.4], "alt threshold range": [1.0, 2.4], "anticipated run length": 6.0 }
            ]
        }
    ],
    "rules": [
        {
            "id": 1,
            "type": "adaptive sprt",
            "relative mu guess null": 0.5,
            "relative mu guess alt": 0.5
        },
        {
            "id": 2,
            "type": "adaptive sprt star",
            "relative mu guess null": 0.5,
            "relative mu guess alt": 0.5
        },
        {
            "id": 3,
            "type": "generalized sprt"
        },
        {
            "id": 4,
            "type": "generalized sprt star",
            "relative mu cutoff": 0.5
        }
    ]
}
