{
    "signal": {
        "type": "const",
        "level": 1.0
    },
    "AR parameters": [ ],
    "noise sigma": 1.0,
    "null mu's": [ 0.0, 0.0, 0.0, 0.0, 0.0 ],
    "alt mu's":  [ 0.8, 0.9, 1.0, 1.1, 1.2 ],
    "monte carlo": 10000,
    "more analyzed mu's":  [ ],
    "more simulated mu's": [ ],
    "expected run length": 5.0,
    "log file": "./hypotheses.log",
    "mat output": "~/Dropbox/mat/",
    "procedures": [
        {
            "name": "Fast A-SPRT",
            "type": "adaptive_sprt_star",
            "threshold spacing": "log",
            "threshold count": 256,
            "threshold range null": [ 1.0, 7.0 ],
            "threshold range alt": [ 1.0, 7.0 ],
            "relative mu guess for null": 0.5,
            "relative mu guess for alt": 0.5
        },
        {
            "name": "A-SPRT",
            "type": "adaptive_sprt",
            "threshold spacing": "log",
            "threshold count": 256,
            "threshold range null": [ 1.0, 7.0 ],
            "threshold range alt": [ 1.0, 7.0 ],
            "relative mu guess for null": 0.5,
            "relative mu guess for alt": 0.5
        },
        {
            "name": "GSPRT",
            "type": "generalized_sprt",
            "threshold spacing": "log",
            "threshold count": 256,
            "threshold range null": [ 1.5, 7.5 ],
            "threshold range alt": [ 1.5, 7.5 ]
        },
        {
            "name": "GSPRT Star",
            "type": "generalized_sprt_star",
            "threshold spacing": "log",
            "threshold count": 256,
            "threshold range null": [ 1.5, 7.5 ],
            "threshold range alt": [ 1.5, 7.5 ],
            "relative mu star": 0.5
        },
        {
            "name": "DSPRT",
            "type": "double_sprt",
            "threshold spacing": "log",
            "threshold count": 256,
            "threshold range null": [ 1.5, 7.5 ],
            "threshold range alt": [ 1.5, 7.5 ],
            "relative mu intermediate": 0.5
        }
    ]
}
