{
    "signal": {
        "type": "const",
        "level": 1.0
    },
    "AR parameters": [
    ],
    "noise sigma": 1.0,
    "null mu": 0.0,
    "alt mu": 1.0,
    "monte carlo": 100000,
    "analyzed mu": 2.0,
    "simulated mu": 0.0,
    "procedures": [
        {
            "name": "Fast A-SPRT",
            "type": "adaptive_sprt_star",
            "log file": "./hypotheses-bsprt-01.log",
            "threshold spacing": "lin",
            "threshold count": 256,
            "threshold range null": [ 0.5, 7.0 ],
            "threshold range alt": [ 0.5, 7.0 ],
            "mu guess for null": 0.5,
            "mu guess for alt": 0.5
        },
        {
            "name": "A-SPRT",
            "type": "adaptive_sprt",
            "log file": "./hypotheses-asprt-01.log",
            "threshold spacing": "lin",
            "threshold count": 256,
            "threshold range null": [ 0.5, 7.0 ],
            "threshold range alt": [ 0.5, 7.0 ],
            "mu guess for null": 0.5,
            "mu guess for alt": 0.5
        },
        {
            "name": "GSPRT",
            "type": "generalized_sprt",
            "log file": "./hypotheses-gsprt-01.log",
            "threshold spacing": "lin",
            "threshold count": 256,
            "threshold range null": [ 1.0, 9.0 ],
            "threshold range alt": [ 1.0, 9.0 ]
        },
        {
            "name": "GSPRT Star",
            "type": "generalized_sprt_star",
            "log file": "./hypotheses-hsprt-01.log",
            "threshold spacing": "lin",
            "threshold count": 256,
            "threshold range null": [ 1.0, 9.0 ],
            "threshold range alt": [ 1.0, 9.0 ],
            "mu star": 0.5
        },
        {
            "name": "DSPRT",
            "type": "double_sprt",
            "log file": "./hypotheses-dsprt-01.log",
            "threshold spacing": "lin",
            "threshold count": 256,
            "threshold range null": [ 1.0, 9.0 ],
            "threshold range alt": [ 1.0, 9.0 ],
            "mu intermediate": 0.5
        }
    ]
}
